log_level: debug

port: 8420

gin:
  mode: debug # Possible values: "release", "debug"

swagger:
  hostname: localhost:8420

sentry:
  dsn:
  sample_rate: 1

database:
  url: postgresql://user:password@localhost:5432/postgres?sslmode=disable
  log: false

rabbitmq:
  url: amqp://localhost:5672

kafka:
  brokers: localhost:9092
  blocks_topic_prefix: blocks-topic-
  max_attempts: 5
  message_max_bytes: 15728640 # Message max bytes to produce # 15MB
  retention_time: 720h # Time to store cosumer group in broker (if all consumers are inactive)

prometheus:
  namespace: blockchain_indexer
  subsystem: # Possible values: "api", "worker", "parser"

  pushgateway:
    url: localhost:9091
    key: # X-API-Key
    push_interval: 30s

block_producer:
  interval: 1ms
  backoff_interval: 10s
  fetch_blocks_max: 10

  block_retry: 10
  block_retry_interval: 5s

block_consumer:
  interval: 1ms

nodes:
  interval: 1m
  init_nodes: true

transaction_consumer:
  workers: 2

platforms:
  smartchain:
    node: https://bsc-dataseed1.binance.org
  ethereum:
    node: https://ethereum-mainnet-rpc.allthatnode.com
  cosmos:
    node: https://us-atom-restapi.binancechain.io
