version: '3'

services:

  api:
    container_name: api
    build:
      context: .
      dockerfile: deployment/Dockerfile_api
    ports:
      - 8420:8420
    environment:
      - PROMETHEUS_SUBSYSTEM=api
      - DATABASE_URL=postgresql://user:password@postgres:5432/postgres?sslmode=disable
      - RABBITMQ_URL=amqp://rabbit:5672
    depends_on:
      - postgres
      - prometheus
      - grafana
      - pushgateway
    restart: unless-stopped
    command: make start-api

  blockproducer:
    container_name: blockproducer
    build:
      context: .
      dockerfile: deployment/Dockerfile_blockproducer
    environment:
      - PROMETHEUS_SUBSYSTEM=blockproducer
      - PROMETHEUS_PUSHGATEWAY_URL=pushgateway:9091
      - DATABASE_URL=postgresql://user:password@postgres:5432/postgres?sslmode=disable
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - postgres
      - rabbit
      - zookeeper
      - kafka
      - prometheus
      - grafana
      - pushgateway
    restart: unless-stopped
    command: make start-blockproducer

  blockconsumer:
    container_name: blockconsumer
    build:
      context: .
      dockerfile: deployment/Dockerfile_blockconsumer
    environment:
      - PROMETHEUS_SUBSYSTEM=blockconsumer
      - PROMETHEUS_PUSHGATEWAY_URL=pushgateway:9091
      - RABBITMQ_URL=amqp://rabbit:5672
      - KAFKA_BROKERS=kafka:9092
    depends_on:
      - postgres
      - rabbit
      - prometheus
      - grafana
      - pushgateway
    restart: unless-stopped
    command: make start-blockconsumer

  nodes:
    container_name: nodes
    build:
      context: .
      dockerfile: deployment/Dockerfile_nodes
    environment:
      - PROMETHEUS_SUBSYSTEM=nodes
      - PROMETHEUS_PUSHGATEWAY_URL=pushgateway:9091
      - DATABASE_URL=postgresql://user:password@postgres:5432/postgres?sslmode=disable
    depends_on:
      - postgres
      - prometheus
      - grafana
      - pushgateway
    restart: unless-stopped
    command: make start-nodes

  transactionconsumer:
    container_name: transactionconsumer
    build:
      context: .
      dockerfile: deployment/Dockerfile_transactionconsumer
    environment:
      - PROMETHEUS_SUBSYSTEM=notransactionconsumerdes
      - PROMETHEUS_PUSHGATEWAY_URL=pushgateway:9091
      - DATABASE_URL=postgresql://user:password@postgres:5432/postgres?sslmode=disable
      - RABBITMQ_URL=amqp://rabbit:5672
    depends_on:
      - postgres
      - rabbit
      - prometheus
      - grafana
      - pushgateway
    restart: unless-stopped
    command: make start-transactionconsumer

  postgres:
    container_name: postgres
    image: postgres:11
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-user}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-password}
      POSTGRES_DB: postgres
    ports:
      - ${POSTGRES_PORT:-5432}:5432

  rabbit:
    container_name: rabbit
    image: rabbitmq:management
    restart: unless-stopped
    ports:
      - 5672:5672
      - 15672:15672

  zookeeper:
    container_name: zookeeper
    image: wurstmeister/zookeeper:3.4.6
    restart: unless-stopped
    expose:
      - "2181"
    ports:
      - "2181:2181"

  kafka:
    container_name: kafka
    image: wurstmeister/kafka
    restart: unless-stopped
    env_file:
      - configs/kafka/variables.env
    depends_on:
      - zookeeper
    ports:
      - '9092:9092'
      - '8082:8082'
      - '8083:8083'

  prometheus:
    container_name: prometheus
    image: prom/prometheus:latest
    restart: unless-stopped
    ports:
      - 9090:9090
    volumes:
      - ./configs/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml

  grafana:
    container_name: grafana
    image: grafana/grafana:latest
    restart: unless-stopped
    ports:
      - 3000:3000
    volumes:
      - ./configs/grafana/provisioning:/etc/grafana/provisioning
      - ./configs/grafana/dashboards:/var/lib/grafana/dashboards

  pushgateway:
    container_name: pushgateway
    image: prom/pushgateway:latest
    restart: unless-stopped
    ports:
      - 9091:9091
